$green: #68813c;
$red: #f05023;
$yellow: #f5a800;
$black: #222222;
$grey: #f3efe8;
$white: #ffffff;
$blue: #5b7e96;

.multistep-form-container {
	width: 100%;
	max-width: 485px;
	margin: 0 auto;
	box-sizing: border-box;

	* {
		border-radius: 3px;
		font-family: Lato;
	}

	#hs-main-form {
		position: relative;

		#progressbar {
			margin: 30px 0;
			padding: 0;
			text-align: center;
			overflow: hidden;
			/*CSS counters to number the steps*/
			counter-reset: step;
			display: flex;
			justify-content: center;

			li {
				list-style-type: none;
				color: white;
				text-transform: uppercase;
				font-size: 12px;
				/*width: 20%;*/
				position: relative;

				&:before {
					transition: 0.8s;
					content: counter(step);
					counter-increment: step;
					width: calc(100% - 5px);
					line-height: 20px;
					display: block;
					font-size: 10px;
					color: $black;
					background: $grey;
					border-radius: 3px;
					margin: 0 auto 5px auto;
				}

				&:after {
					transition: 0.8s;
					content: "";
					width: 100%;
					height: 2px;
					background: $grey;
					position: absolute;
					left: -50%;
					top: 9px;
					z-index: -1; /*put it behind the numbers*/
				}
				&:first-child:after {
					/*connector not needed before the first step*/
					content: none;
				}

				&.active:before,
				&.active:after {
					transition: 0.8s;
					background-color: $green;
					color: $white;
				}
			}
		}

		.form-step:not(:first-of-type) {
			visibility: hidden;
		}

		.form-step {
			width: 100%;
			background: $white;
			border: 0 none;
			border-radius: 30px;
			box-shadow: 0 0 10px 1px rgb(0 0 0 / 25%);
			padding: 40px 2em;
			box-sizing: border-box;
			min-height: 400px;
			position: absolute;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			transition: 0s;

			&.activeStep {
				position: relative;
			}

			.content-section {
				display: flex;

				.w7 {
					width: 58.3333333333%;
				}
				.w5 {
					width: 41.6666666667%;
				}
				.flag {
					text-align: right;

					#usa-flag {
						width: 80%;
					}
				}
			}

			.step-title {
				display: block;
				text-align: left;
				font-size: 1.6em;
				margin-bottom: 25px;
			}
			.step-subtitle {
				text-align: center;
			}

			hr {
				background-color: $grey;
				height: 2px;
				width: 100%;
				border: none;
				margin: 15px auto;
			}

			.fields-section {
				display: flex;
				flex-direction: column;

				.error {
					color: $red;
					margin-bottom: 10px;
				}

				.options-title {
					margin-bottom: 10px;
					font-size: 1.2em;
					font-weight: bold;
					color: $green;

					.optional {
						color: $blue;
						font-size: 0.7em;
					}
				}

				.form-field {
					display: flex;
					flex-direction: column;

					input,
					select {
						height: 40px;
						margin-bottom: 10px;
						outline: none;
						border-width: 2px;
						border-color: $grey;
						border-style: solid;
						padding: 0 5px;
						font-size: 1em;
						transition: 0.3s;

						&:focus,
						&:hover {
							border: 2px solid $green;
						}
						&.error {
							border: 2px solid $red;
						}
					}
				}
				.multi-radio-check-fields-container {
					display: flex;
					flex-direction: column;

					.multi-radio-fields {
						display: flex;
						list-style-type: none;
						padding: 0;
						margin: 0 0 10px 0;
						justify-content: left;
						text-align: center;
						gap: 10%;

						.radio-field,
						li[data-person-type] {
							display: flex;
							flex-direction: column;
							align-items: center;
						}

						input[type="radio"] {
							position: absolute;
							left: -9999999999999px;
						}

						input[type="radio"]:checked {
							~ .field-title {
								#Colored_BG path,
								#Colored_BG polygon {
									stroke: $green;
									fill: $green;
								}
								#Outlined path,
								#Outlined polygon {
									fill: $white;
								}
							}
						}
						li[data-person-type].selected {
							#Colored_BG path,
							#Colored_BG polygon {
								stroke: $green;
								fill: $green;
							}
							#Outlined path,
							#Outlined polygon {
								fill: $white;
							}
						}

						.field-title {
							cursor: pointer;
							transition: 0.2s;

							svg {
								display: block;
								margin: 0 auto;
								width: 80px;
							}

							&:hover {
								transform: scale(0.95);

								#Colored_BG path {
									stroke: $green;
								}
								#Outlined path {
									fill: $green;
								}
							}
						}
					}
				}
			}
		}
		.btn-section {
			//display: flex;
			align-items: center;
			margin-top: 15px;

			button {
				cursor: pointer;
				border: 2px solid $red;
				background-color: $red;
				padding: 10px 10px;
				font-weight: 700;
				font-size: 1.5em;
				color: $white;
				width: 100%;
				margin: 0 auto;
				transition: 0.3s;

				&:disabled {
					opacity: 0.7;
					cursor: not-allowed;
				}
				&:hover {
					transform: scale(0.97);
				}
				&:focus,
				&:focus-visible {
					outline: none;
					border-color: $black;
				}
			}
			.previous {
				font-size: 11px;
				display: block;
				margin-top: 10px;
			}
		}
		.privacy {
			margin-top: 15px;
		}
	}
	// Last step with message
	.step-msg {
		.fields-section {
			align-items: center;

			#msg {
				text-align: center;
				font-size: 1.3em;
				font-weight: 600;
				display: flex;
				flex-direction: inherit;
			}
			// Chrome
			progress::-webkit-progress-bar {
				background-color: $grey;
				border-radius: 3px;
			}
			progress::-webkit-progress-value {
				background-color: $green !important;
			}
			// FF
			progress {
				background-color: $grey;
				border-radius: 3px;
			}
			progress::-moz-progress-bar {
				background-color: $green !important;
				border-radius: 15px;
			}
			// Safari
			progress::-webkit-progress-bar {
				background-color: $grey;
				border-radius: 3px;
				width: 100%;
			}
			progress::-webkit-progress-value {
				background-color: $green !important;
				border-radius: 15px;
			}
			// Edge
			progress {
				background-color: $grey;
				border-radius: 3px;
			}
			progress {
				color: $green;
				border-radius: 15px;
			}
			#timeRem {
				font-size: 1em;
			}
		}
	}
	// Last step with message
}

/* ### RESPONSIVE ### */
